<header class="page-header">
<h1>About Us</h1>
</header>

<div class="container">
  <p>Welcome to Jungle! We're a premier online retailer specializing in a variety of ornamental trees. Our mission is to deliver top-quality products and outstanding customer service. With over a decade of experience, we're dedicated to serving our customers with integrity and professionalism.</p>
  <p>Feel free to explore our website and discover the wide range of products we offer. Thank you for choosing us!</p>
</div>